<!DOCTYPE html>
<html>
  <head>
    <title>Formulario de Envío de Correo</title>
    <style>
      body {
        font-family: sans-serif;
      }

      .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .container h2 {
        text-align: center;
        margin-bottom: 30px;
      }

      .container label {
        display: block;
        margin: 10px 0;
      }

      .container input[type="text"],
      .container textarea {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        overflow: hidden;
      }

      .container input[type="text"]:hover,.container textarea:hover{
        transition: ease-in 0.5s;
        border: 1px solid rgb(61, 61, 61);
      }

      .container input[type="text"]:focus,.container textarea:focus{
        overflow: hidden;
        outline: transparent;
        border: 1px solid rgb(32, 32, 32);
      }

      .container button {
        font-size: 145%;
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        /* float: right; */
        width: 70%;
        margin-top: 30px;
      }

      .button-container{
        display: grid;
        justify-items: center;
      }

      .container button:hover {
        background-color: #45a049;
        transition: ease 0.5s;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Formulario de Envío de Correo</h2>
      <form action="http://localhost:3001/correo" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />

        <label for="correo">Correo Electrónico:</label>
        <input type="text" id="correo" name="correo" required />

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

        <div class="button-container">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </body>
</html>
